.centerMenu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(56, 51, 128, 0.3);
    color: #383380;
}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 600;
}

.menu > li{
    margin-left: 30px;
    margin-right: 30px;
}

.link{
    text-decoration: none;
    padding: 20px;
    line-height: 2.5;
    cursor: default;
}

.link:hover{
    text-decoration: underline;
}