.box{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    color: #383380;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(118, 118, 118, 0.437);
}

.logo{

}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.link{
    text-decoration: none;
    margin: 10px;
    cursor: default;
}

.link:hover{
    text-decoration: underline;
}